*.ipynb
/04_Machine_Learning/Sprint_13/Unidad_01_ML_No_Supervisado_Clustering_KMeans/01_Workout/ppts
*.py
/04_Machine_Learning
/Masterclasses/MC_05_Sprint_13_Pipelines/data
/Masterclasses/MC_05_Sprint_13_Pipelines
/Project_Break_II_ML/img
/Team_Challenges
04_Machine_Learning/Sprint_10/Unidad_02_ML_Supervisado_Clasificacion_Regresion_Logistica/03_Practica_Obligatoria/18_Practica_Obligatoria_Clasificacion_Regresion_Logistica.ipynb
03_Data_Analysis/Sprint_06/Unidad_02_Procesado_Datos_Externos_Web_Scraping_APIs/01_Workout/ppts/DS_Procesado_Datos_Externos_Web_Scraping_APIs_P01_Fuentes_de_Datos_Externas.pdf
04_Machine_Learning/Sprint_10/Unidad_02_ML_Supervisado_Clasificacion_Regresion_Logistica/03_Practica_Obligatoria/18_Practica_Obligatoria_Clasificacion_Regresion_Logistica.ipynb
03_Data_Analysis/Sprint_06/Unidad_02_Procesado_Datos_Externos_Web_Scraping_APIs/01_Workout/ppts/DS_Procesado_Datos_Externos_Web_Scraping_APIs_P01_Fuentes_de_Datos_Externas.pdf
03_Data_Analysis/Sprint_06/Unidad_02_Procesado_Datos_Externos_Web_Scraping_APIs/01_Workout/ppts/DS_Procesado_Datos_Externos_Web_Scraping_APIs_P01_Fuentes_de_Datos_Externas.pdf
04_Machine_Learning/Sprint_10/Unidad_02_ML_Supervisado_Clasificacion_Regresion_Logistica/03_Practica_Obligatoria/18_Practica_Obligatoria_Clasificacion_Regresion_Logistica.ipynb
